extends ../layouts/main-layout.pug

block content
    main
        h1 this is the cart
        if products.length > 0
            .cart-list
                ul
                    each product in products
                        - var itemprice = product.product.price * product.qty;
                        .cart-item
                            h4 #{product.product.title} x#{product.qty}
                            img(src = product.product.imageURL alt = product.product.title)
                            p price: #{itemprice}
                            form(action="/cart-delete-item" method="POST")
                                input(type="hidden" value=product.product.id name="id")
                                button(type="submit") delete item
        else
            h1 your cart is empty!