extends ../layouts/main-layout.pug

block content
    main
        h1 this is the cart
        if products.length > 0
            .cart-list
                ul
                    each product in products
                        - var itemprice = product.productId.price * product.quantity;
                        .cart-item
                            h4 #{product.productId.title} x#{product.quantity}
                            img(src = product.imageURL alt = product.productId.title)
                            p price: #{itemprice}
                            form(action="/cart-delete-item" method="POST")
                                input(type="hidden" value=product.productId._id name="id")
                                input(type = "hidden" name = "_csrf" value = csrfToken)
                                button(type="submit") delete item 
                form(action="/checkout" method="POST")
                    input(type = "hidden" name = "_csrf" value = csrfToken)
                    button(type="submit") checkout
        else
            h1 your cart is empty!