extends ../layouts/main-layout.pug

block content
    main
        if orders.length > 0
            .orderlist 
                h1 your orders:
                each order in orders
                    - var smallOrderNumber = (order._id).toString().slice(0, 7);
                    h2.cart-item order ##{smallOrderNumber}
                        each product in order.products
                            .orderchunk
                                p #{product.product.title} x#{product.quantity}
                                img.cartimage(src = product.product.imageURL alt = product.product.title)
                    h2 arriving soon! 
                .cartbottom
        else    
            h1 sorry, but you don't have any orders! 
                a(href="/") add some items?