extends ../layouts/main-layout.pug

block content
    main
        if products.length > 0
            .productlist
                each product in products
                    .productcard
                        h2 #{product.title} by #{product.artist}
                        .cardcontent
                            img.productimage(src = product.imageURL alt = product.title)
                            .description
                                h3.dsubheader description: 
                                p #{product.description}
                        .cardaction
                            form(action="/cart" method="POST")
                                h3 $#{product.price}
                                button(type="submit") add to cart
                                input(type="hidden" name="id" value = product._id)
                                input(type = "hidden" name = "_csrf" value = csrfToken)
        else
            h1 no albums available :( 