extends layouts/main-layout.pug

block content
    main
        if products.length > 0
            .product-grid
                each product in products
                    .product-card
                        .card-header
                            h1.product-title #{product.title}
                        .card-content
                            h3.product-price ₩15,000
                            p.product-description a thrilling story about one man's quest to consume a bunch of trash
                        .card-action
                            button add to cart
        else
            h1 no products available :(