extends ../layouts/main-layout.pug

block content
    main
        form(action="/login", method="POST")
            label(for="username") username
            input(type="text", name="username")#username
            label(for="password") password
            input(type="password", name="password")#password
            input(type = "hidden" name = "_csrf" value = csrfToken)
            button.submit(type="submit") login
            p.error #{errorMessage}
            .formprompt
                p.formmessage new to primary?  
                a.formmessage(href = "/signup") sign up here! 
            .formprompt
                p.formmessage forgot your password? 
                a.formmessage(href = "/reset") reset it here! 
            
