extends ../layouts/main-layout.pug

block content
    main
        form(action="/new-password", method="POST")
            label(for="password") enter your new password 
            input(type="password", name="password")#password
            label(for="passwordconfirm") confirm password
            input(type="password", name="passwordconfirm")#password
            input(type = "hidden" name = "_csrf" value = csrfToken)
            input(type = "hidden" name = "id" value = id)
            input(type = "hidden" name = "passToken" value = passToken)
            button(type="submit") update password
